@font-face {
	font-family: InterRegular;
	src: url(../fonts/Inter-Regular.otf);
}

@font-face {
	font-family: InterMedium;
	src: url(../fonts/Inter-Medium.otf);
}

@font-face {
	font-family: InterSemiBold;
	src: url(../fonts/Inter-SemiBold.otf);
}

@font-face {
	font-family: InterBold;
	src: url(../fonts/Inter-Bold.otf);
}

.inter-regular {
	font-family: InterRegular;
}

.inter-medium {
	font-family: InterMedium;
}

.inter-semibold {
	font-family: InterSemiBold;
}

.inter-bold {
	font-family: InterBold;
}