.homepage {
	color: white;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-position: center center;
	height: 44vw;
}

.homepage-header {
	font-size: 3vw;
}

.homepage-content {
	color: rgba(255, 255, 255, 0.6);
}

.homepage-profile {
	margin-top: 1rem;
	height: 45vh;
}

.homepage-link {
	font-family: InterSemiBold;
	color: white !important;
}

.homepage-icons {
	position: absolute;
	font-size: 1.5vw;
	margin-top: -5px;
}

.homepage-footer {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.6);
}

.homepage-footer-content {
	text-transform: uppercase;
	font-family: InterSemiBold;
	font-size: 1.5vw;
}

.homepage-margin {
	margin-top: 13vh;
}