.true {
  background-color: #141414 !important;
  color: #fff !important;
  transition: 1s;

  @nest .logo-rotate {
    transform: rotate(-180deg);
    transition: 1s;
  }

  @nest .bg-blue-600 {
    background-color: #ea580c;
  }

  @nest .text-gray-600 {
    color: #9ca3af !important;
  }

  @nest .text-gray-900 {
    color: #f3f4f6 !important;
  }
}

.false {
  transition: 1s;

  @nest .logo-rotate {
    transform: rotate(0deg);
    transition: 1s;
  }
}
