.bg-white {
  transition: 0.5;
}

.border-custom {
  border-color: #141414 !important;
}

/* DARK MODE ON */
.true {
  background-color: #141414 !important;
  color: #f3f4f6 !important;
  transition: 1s;
}
.true .logo-rotate {
  transform: rotate(-180deg);
  transition: 1s;
}

.true .bg-blue-600 {
  background-color: #ea580c !important;
}

.true .text-gray-600 {
  color: #c1c6cf !important;
}

.true .text-gray-900 {
  color: #f3f4f6 !important;
}

.true .bg-gray-500 {
  background-color: #f3f4f6 !important;
}

.true .text-gray-600 {
  color: #f3f4f6 !important;
}

.true .hover\:bg-gray-50:hover {
  color: #141414 !important;
}

/* LIGHT MODE ON */
.false {
  transition: 1s;
}

.false .logo-rotate {
  transform: rotate(0deg);
  transition: 1s;
}

/* MOBILE RESPONSIVE */
@media (max-width: 640px) {
  .mt-mobile {
    margin-top: 4rem !important;
  }
}
